{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block fulltitle %}
                {% block title %}
                {% endblock title %}

                —Owen Dechow
            {% endblock fulltitle %}

        </title>
        <link rel="stylesheet" href="{% static "base/main.css" %}">

        <style>
            @font-face {
                font-family: 'Montserrat';
                src: url('{% static "base/montserrat.ttf" %}') format('truetype');
            }
        </style>

        {% block head %}
        {% endblock head %}

    </head>
    <body>
        <header>
            {% block header %}
            {% endblock header %}
        </header>

        <nav>
            {% block navigation %}
                <a href="/">&lt;/Owen Dechow&gt;</a>
            {% endblock navigation %}
        </nav>

        <main>
            {% block content %}
            {% endblock content %}
        </main>

        <footer>
            {% block footer %}
                <a class="social" href="mailto:owen.dechow@gmail.com">
                    <img src="https://img.icons8.com/?size=100&id=85500&format=png&color=FFFFFF">
                    owen.dechow@gmail.com
                </a>
                <a class="social"href="https://github.com/Owen-Dechow">
                    <img src="https://img.icons8.com/?size=100&id=62856&format=png&color=FFFFFF">
                </a>
                <a class="social"
                   href="https://www.linkedin.com/in/owen-dechow-4405a1341/">
                    <img src="https://img.icons8.com/?size=100&id=8808&format=png&color=FFFFFF">
                </a>
                <a class="social"href="https://medium.com/">
                    <img src="https://img.icons8.com/?size=100&id=110611&format=png&color=FFFFFF">
                </a>
            {% endblock footer %}
        </footer>

    </body>
</html>
