{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static '/css/auth_base.css' %}">
{% endblock %}

{% block title %}
Change Password
{% endblock %}

{% block head %}
<img src="{% static '/images/headers/passwords.png' %}" alt="header image">
<h1>Password Changed</h1>
{% endblock %}

{% block content %}
<form method="POST">
    <h1>Password change complete</h1>
    <p>You password has been change continue to login.</p>
    <button type="button" onclick="window.location='/account/'">
        Go To Account Settings</button>
</form>
{% endblock %}