{% extends "base.html" %}
{% load static %}

{% block title %}
Reset Password
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static '/css/auth_base.css' %}">
{% endblock %}

{% block head %}
<img src="{% static '/images/headers/passwords.png' %}" alt="header image">
<h1>Reset Password</h1>
{% endblock %}

{% block content %}

<sending-tag id="sending-tag"></sending-tag>

<form method="POST">
    {% csrf_token %}
    <p>
        Forgotten your password? <br>
        Enter the email you used to register below, and we'll email instructions to setting a new one!
    </p>

    {% for f in form %}

    {{ f.label_tag }}
    {{ f }}
    {{ f.errors }}
    <span>{{ f.help_text }}</span>

    <br>

    {% endfor %}

    <div class="btn">
        <button type="submit" onclick="document.getElementById('sending-tag').setAttribute('on', true)">
            Send Email</button>
        <button type="button" onclick="window.location='{{request.full_path}}/auth/login'">
            Go To Login</button>
    </div>
</form>
{% endblock %}