{% extends "base.html" %}
{% load static %}

{% block title %}Check Email{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/auth_base.css' %}">
{% endblock %}

{% block head %}
    <img src="{% static '/images/headers/passwords.png' %}" alt="header image">
    <h1>Check Email</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        <h1>Password reset email sent</h1>
        <p>
            Check your email for instructions to reset password. If you did not receive an email check spam folder or click
            the button to send again.
        </p>
        <button type="button" onclick="window.location='/auth/password_reset/'">Try Again</button>
    </form>
{% endblock %}
