{% extends "base.html" %}
{% load static %}

{% block title %}
Password Reset Successful
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static '/css/auth_base.css' %}">
{% endblock %}

{% block head %}
<img src="{% static '/images/headers/passwords.png' %}">
<h1>Reset Successful</h1>
{% endblock %}

{% block content %}
<form method="POST">
    <h1>Password reset complete</h1>
    <p>You password has been reset continue to login.</p>
    <button type="button" onclick="window.location='{{request.full_path}}/auth/login'">
        Go To Login</button>
</form>
{% endblock %}