{% extends "base.html" %}
{% load static %}

{% block title %}CSPLang Justification{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'csplang/csp.css' %}">
<script type="module" src="{% static 'csplang/main.js' %}"></script>
{% endblock head %}

{% block header %}
<h1>Justification of Implementation</h1>
(<a href="/csp">Implementation Sandbox</a>)
{% endblock header %}

{% block content %}
<div class="article">
    <div class="splitable">
        <p>
            The following is a justification of certain (perhaps controversial)
            implementation choices I made in this CSP Pseudocode (hereinafter "CSP")
            Interpreter (CSP Pseudocode Runner By: Owen Dechow).

            Examples of CSP will appear to the right or below the text,
            as seen here.
        </p>
        <code>// Owen Dechow
            DISPLAY("Is Awesome")
        </code>
    </div>

    <p>Parts of the editor are also discussed because the interpreter
        and editor are closely integrated. The editor is NOT, though, the
        main purpose of this page and therefore will not be exhaustively
        justified.</p>

    <h2>1. Special Characters</h2>

    <div class="splitable">
        <p>CSP uses four special characters that are not found on a standard
            American keyboard. The interpreter uses ASCII equivalents to
            each of those special characters. No alternatives are given for
            these characters. The interpreter will not accept any similar
            ASCII symbols as equivalent. The symbols are featured in the
            following example.
        </p>
        <code>name ← value // Left Facing Arrow
            num ≥ num2 // Greater Than or Equal to
            num ≤ num2 // Less Than or Equal to
            num ≠ num2 // Not Equal
        </code>
    </div>

    <p>Because these characters are not easily typed they may be inserted
        into the editor by one of two simple ways. First, by button: on the top
        of the editor there are buttons for each of these characters that will,
        when clicked, insert the character. Second, by autocompletion: a basic
        autocomplete system is implemented in the editor. Each special character
        is given an alphanumeric abbreviation to make it accessible. Simply start
        typing the abbreviation and press &lt;TAB&gt; when the character is at
        the top of the autocomplete window. The abbreviations are given below.</p>

    <code>← // Abbreviation: assign
        ≥ // Abbreviation: gteq
        ≤ // Abbreviation: lteq
        ≠ // Abbreviation: neq
    </code>

    <h2>2. Window Prompt as INPUT</h2>

    <div class="splitable">
        <p>The CSP INPUT function <q>Accepts a value from the user and returns the input value.</q>
            While one would typically assume this means input is read form the terminal
            line, I have opted to use the builtin browsers prompt
            dialog. This choice was made for two reasons. First, to make it clear input
            is expected. The browser prompt makes it abundantly clear it wants you
            to enter some text. A hanging program that is just sitting waiting for
            you to press enter in the terminal does not. Second, because the DISPLAY
            function does not print a newline, the text of the input will unfavorably
            be on the same line as the output of the program if using terminal input.</p>
        <code>userInput ← INPUT()
            DISPLAY("The user typed: ")
            DISPLAY(userInput)</code>
    </div>

    <h2>3. INPUT as Number</h2>

    <p>If an input can be parsed as a number it is assumed to be a number. If
    not it is a string.</p>

    <code>ipt ← INPUT() // User enters "34"
        34 = ipt // `ipt` is of type NumberValue

        ipt ← INPUT() // User enters "hello"
        34 = ipt // `ipt` is of type StringValue
    </code>

    <div class="splitable">
        <p>CSP is dynamically typed without a way to parse or
            cast types. Because of this I took inspiration from
            JavaScript (I dislike this feature of JS funnily enough). In
            the event that a string is compared to a number in JS, the
            type of the values are not considered, only the values themselves.
            Unlike JavaScript though, this implementation does not have arithmetic
            operators for strings (there is no mention of them in the CSP spec
            therefore they were left out intentionally).</p>
        <code>"12" = 12 // True
            353 = 353 // True
            "43" = 4 // False
            34 ≠ "3" // True</code>
    </div>

    <p>This means that if a value is a number, it has every feature of a string
        in CSP. The opposite is not true, though. If a value is a string, it does
        not have all the features of a number. Therefore if a input is assumed
        to be a number, it will work in every situation where that assumption
        was wrong without an error or unexpected behavior.</p>

    <p>DISCLAIMER: this does have the negative effect of making some errors
        less intuitive.</p>

    <h2>4. Insignificant Ordering of the RANDOM Function</h2>
    <div class="splitable">
        <p>The RANDOM function <q>Generates and returns a random integer from a to b,
                including a and b. Each result is equally likely to occur.</q>
            Because it does not state <q>a &lt; b</q> in the spec, the implementation
            allows for either number to be the min or max.</p>
        <code>RANDOM(1, 10) // is the same as
            RANDOM(10, 1)
            RANDOM(7, 7) // Will always return 7</code>
    </div>

    <h2>5. Dynamic List Types</h2>
    <div class="splitable">
        <p>In the implementation, lists can have differently typed elements. This is
            the case for several reasons. One, there is no way to determine the inner type
            of an empty list. Two, INPUT may result in a string or number. Three, the
            spec does not say <q>lists must be comprised of one singular type.</q> Four, I do
            not like JavaScript, and making them dynamic meant I had to write less of it.</p>
        <code>// The following is a valid list
            [1, "Hello", [1, 2]]</code>
    </div>
    <h2>6. Comments</h2>

    <p>The CSP spec does not have any mention of comments. Despite this I decided
        to add single line comments anyway. As CSP has no practical use outside of a classroom.
        I decided the clarity added from a comment is more beneficial than the value of a perfect
        implementation.</p>

    <code>// Hi there. This is a single line comment.</code>

    <h2>7. Literals</h2>
    <p>There is no clear specification on how literals should appear in CSP (the spec does not
        have any such section). I have chosen the following for the implementation based
        on questions from college board and CSP code examples.</p>
    <div class="splitable">
        <p>Numbers may only contain
            digits and one single decimal point (the decimal point may be omitted in the case
            of integers). A leading negative is valid but will be evaluated at runtime.</p>

        <code>10 // Valid number
            3.14 // Valid number
            67.41.0 // Invalid number
            -20 // Evaluated as ("-", "20")</code>
    </div>
    <div class="splitable">
        <p>Strings must be encapsulated by double quotes. There are no escape sequences.</p>
        <code>"I am a string" // Valid string
            "\n" // This does not create a new line
            'Hello' // Invalid string</code>
    </div>
    <div class="splitable">
        <p>Booleans are implemented with the "true" and "false" keywords. They are both
            case sensitive.</p>
        <code>true // True
            false // False
            False // This is not the same as false </code>
    </div>

    <h2>8. Null/Void Values</h2>
    <p>The only way to create a null value in this implementation is to assign the
        result of a function that does not return a value (such as DISPLAY) to a variable.</p>

    <div class="splitable">
        <p>If you attempt to display a null value to use an operator on it, the program will crash
            and a Null Value Error will be raised.</p>
        <code>val ← DISPLAY("") // val has a null value
            DISPLAY(val) // Null Value Error raised</code>
    </div>

    <h2>9. No First Class Procedures</h2>
    <p>While you may create a procedure inside of a different procedure, the inner procedure only
        has access to the global scope. As CSP is meant to be language agnostic, I followed
        the simplest design pattern possible, and the one with least JavaScript.</p>
    <code val="PROCEDURE myProc(arg1) {
    PROCEDURE myInnerProc() {
        DISPLAY(arg1) // Although this is inside myProc it does not have access to arg1
    }

    myInnerProc()
}

myProc(10) // This results in an error"></code>
    <h2>10. Complete Guide</h2>
    <p>A complete guide on CSP can be found in the specification at
        <a href="https: //apcentral.collegeboard.org/media/pdf/ap-computer-science-principles-exam-reference-sheet.pdf">
            https://apcentral.collegeboard.org/media/pdf/ap-computer-science-principles-exam-reference-sheet.pdf</a>.
    </p>
</div>
{% endblock content %}
