span.color {
    &:nth-child(3n) {
        color: lightgreen;
    }

    &:nth-child(3n+1) {
        color: coral;
    }

    &:nth-child(3n+2) {
        color: skyblue;
    }
}

header {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
       margin: 0; 
    }
}

header .bottom {
    animation: scroll-indicator 2s ease-in-out infinite alternate;
    font-size: 2rem;
    background-color: inherit;
    border: unset;
    width: fit-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p:has(q) {
    border-left: 2px solid;
    padding: 5px;
    opacity: 0.75;
}


@keyframes scroll-indicator {
    from {
        transform: translateY(-5px);
    }

    to {
        transform: translateY(10px);
    }
}


header .top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    img {
        max-width: 300px;
        border-radius: 5px 5px 50% 50%;
        object-fit: cover;
        border: 3px solid;
    }

    .left {
        text-align: center;
    }

    .right {
        height: fit-content;
    }

    h1 {
        font-size: 5rem;
        margin: 0;

    }
}

@media (max-width: 800px) {
    header .top {
        flex-direction: column-reverse;
        width: min-content;
        text-align: center;

        h1 {
            font-size: 2rem;
        }
    }
}

section {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .5s;

    &.show {
        grid-template-rows: 1fr;
    }

    h2 {
        display: flex;
        align-items: center;
        gap: 10px;

        &::before,
        &::after {
            content: "";
            border: 1px solid;
            flex: 1;
        }
    }

}

ul {
    padding: 0;
    list-style: none;
}

li a {
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 1rem;
    padding: 20px;
    transition-duration: .25s;
    margin-bottom: 1rem;

    img {
        max-width: 100%;
        border-radius: 10px;
    }

    p {
        margin-bottom: 0;
    }

    &:hover {
        background-color: #202020;
        outline: 1px solid skyblue;

        span {
            color: lightgreen;
        }
    }

}

@media (max-width: 700px) {
    li a {
        grid-template-columns: auto;
    }
}
