:root {
    --body-max-width: 850px
}

* {
    box-sizing: border-box;
}

body {
    background-color: #151515;
    color: #d0d0d0;
    font-family: "Montserrat", sans-serif;
    max-width: var(--body-max-width);
    margin-inline: auto;
    padding: 10px;
    line-height: 1.25;
}

a {
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}

select,
button {
    border-radius: 3px;
    border: 1px solid;
    padding: 3px;
    cursor: pointer;
    background-color: #0a0a0a;
    color: inherit;

    &:hover {
        background-color: #303030;
    }
}
