{% extends "base.html" %}

{% block fulltitle %}Owen Dechow{% endblock fulltitle %}

{% block header %}
<h1>Owen Dechow</h1>
The official website of
{% endblock header %}

{% block content %}
I am currently redesigning the website. Sorry its so empty. You are probably
looking for one of these pages:
<ul>
    <li><a href="/csp">AP CSP Pseudocode Runner</a></li>
    <li><a href="/csp/justify">CSP Justification</a></li>
    <li><a href="https://github.com/Owen-Dechow">Github Page</a></li>
    <li><a href="https://herdgenetics.com">Herd Genetics</a></li>
</ul>
{% endblock content %}
