{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "base/homepage.css" %}">
    <script src="{% static "base/homepage.js" %}"></script>
{% endblock head %}

{% block fulltitle %}
    Owen Dechow
{% endblock fulltitle %}

{% block navigation %}
{% endblock navigation %}

{% block header %}
    <div class="top">
        <img class="left"
             src="{% static "base/profile.jpg" %}"
             alt="Profile Image">
        <div class="right">
            The official website of
            <h1>
                <span class="color">Owen</span>
                <span class="color">Dechow</span>
            </h1>
            <p>
                <q>Whatever you do, work at it with all your heart, as working for the Lord, not for human masters.</q>
                <span class="color">— Colossians 3:23</span>
            </p>
        </div>
    </div>
    <button class="bottom" onclick="scrollToElement('section')">▼</button>
{% endblock header %}

{% block content %}
    <section>
        <h2>A Little About Me</h2>
        <p>
            <q>As each has received a gift, use it to serve one another, as good stewards of God’s varied grace.</q>
            <span class="color">— 1 Peter 4:10</span>
        </p>
        <p>
            Hello, my name is <span class="color">Owen Dechow</span>. I am a young software engineer, based in the United States, who wants to use
            his skills to serve others and to serve the <span class="color">Lord</span>. I am experienced in full-stack development and systems
            programming. My favorite programming language is <span class="color">C#</span>, but the languages I use the most are
            <span class="color">Python</span>, <span class="color">JavaScript</span>, and <span class="color">Rust</span>.
            My favorite framework is <span class="color">Django</span>. While I have all the skills of a normal software engineer, I specialize
            in <span class="color">agriculture and biology</span> related software solutions.
        </p>
        <p>
            I believe that every talent, skill, and gift are from the <span class="color">Lord</span>, and it is every man's
            calling to use those <span class="color">gifts</span> for the expansion of <span class="color">God's</span> kingdom.
            I plan to, <span class="color">God</span> willing, work in the <span class="color">software engineering</span>
            industry, while also working in ministry.
        </p>
    </section>

    <section>
        <h2>Tools I Use</h2>
        <p>
            <q>Do you see a man skillful in his work? He will stand before kings; he will not stand before obscure men.</q>
            <span class="color">— Proverbs 22:29</span>
        </p>

        <ul class="tools">
            <li>
                <img src="https://img.icons8.com/?size=100&id=12592&format=png&color=FFFFFF"
                     alt="python logo">
                <span>Python</span>
            </li>
            <li>
                <img src="https://img.icons8.com/?size=100&id=37o3DqV429ra&format=png&color=FFFFFF"
                     alt="Django logo">
                <span>Django</span>
            </li>
            <li>
                <img src="https://img.icons8.com/?size=100&id=U41Than0pWOW&format=png&color=FFFFFF"
                     alt="Rust logo">
                <span>Rust</span>
            </li>
            <li>
                <img src="https://img.icons8.com/?size=100&id=106036&format=png&color=FFFFFF"
                     alt="JavaScript logo">
                <span>JavaScript</span>
            </li>
            <li>
                <img src="https://img.icons8.com/?size=100&id=23028&format=png&color=FFFFFF"
                     alt="HTML logo">
                <span>HTML</span>
            </li>
            <li>
                <img src="https://img.icons8.com/?size=100&id=38272&format=png&color=FFFFFF"
                     alt="CSS logo">
                <span>CSS</span>
            </li>
            <li>
                <img src="https://img.icons8.com/?size=100&id=40253&format=png&color=FFFFFF"
                     alt="JQuery logo">
                <span>JQuery</span>
            </li>
            <li>
                <img src="https://img.icons8.com/?size=100&id=bRvAKWipFTiw&format=png&color=FFFFFF"
                     alt="Lua logo">
                <span>Lua</span>
            </li>
            <li>
                <img src="https://img.icons8.com/?size=100&id=Z6okEpWSgU8N&format=png&color=FFFFFF"
                     alt="Vim logo">
                <span>Vim &amp; Neovim</span>
            </li>
            <li>
                <img src="https://img.icons8.com/?size=100&id=55205&format=png&color=FFFFFF"
                     alt="C# logo">
                <span>C#</span>
            </li>
            <li>
                <img src="https://img.icons8.com/?size=100&id=38796&format=png&color=FFFFFF"
                     alt="Linux logo">
                <span>Linux</span>
            </li>
            <li>
                <img src="https://img.icons8.com/?size=100&id=VoXRGxL3ekkk&format=png&color=FFFFFF"
                     alt="AWS logo">
                <span>Amazon Web Services</span>
            </li>
            <li>
                <img src="https://img.icons8.com/?size=100&id=-AszLOZlCRQ0&format=png&color=FFFFFF"
                     alt="Flutter logo">
                <span>Flutter</span>
            </li>
            <li>
                <img src="https://img.icons8.com/?size=100&id=IV6NzscUCqqq&format=png&color=FFFFFF"
                     alt="Dart logo">
                <span>Dart</span>
            </li>
        </ul>
    </section>

    <section>
        <h2>Projects</h2>
        <p>
            <q>Commit to the Lord whatever you do, and He will establish your plans.</q>
            <span class="color">— Proverbs 16:3</span>
        </p>
        <ul>
            <li>
                <a href="https://herdgenetics.com" target="_blank">
                    <img src="{% static "base/herdgenetics.png" %}" alt="Herd Genetics image">
                    <div>
                        <span>Herd Genetics</span>
                        <p>
                            <span class="color">Herd Genetics</span> is a full stack web simulation used by Penn State and
                            Cornell University. Dedicated to teaching genetics, it simulates breeding programs, focusing
                            on PTAs, genetic recessives and inbreeding coefficients. Herd Genetics aims for accuracy of PTA/Trait
                            correlations and trends. It is a classroom based system targeting group learning with every simulation
                            belonging to a class.
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://github.com/Owen-Dechow/videre.nvim" target="_blank">
                    <img src="{% static "base/videre.png" %}" alt="Videre Image">
                    <div>
                        <span>videre.nvim</span>
                        <p>
                            Many editors have the option to view JSON & YAML files as a graph. Neovim, with a terminal interface,
                            does not have this luxury. While one can't create an interface like JSON Crack, it is possible
                            to build a similar JSON explorer using Neovim's terminal interface. <span class="color">Videre</span>
                            does just that.
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/csp" target="_blank">
                    <img src="{% static "base/csp-interpreter.png" %}"
                         alt="CSP interpreter image">
                    <div>
                        <span>AP CSP - CSP Pseudocode Interpreter</span>
                        <p>
                            College Board's Advanced Placement <span class="color">Computer Science Principals</span> class uses
                            pseudocode instead of an actual language on the AP test. It is important though to understand this
                            pseudocode. Therefore, I implemented a simple pseudocode interpreter, so you can practice in the language
                            you will be tested on.
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://pypi.org/project/inbreeding-calculator/"
                   target="_blank">
                    <img src="{% static "base/inbreeding-calculator.png" %}"
                         alt="Inbreeding calculator image">

                    <div>
                        <span>PyPi: inbreeding-calculator</span>
                        <p>
                            <span class="color">inbreeding-calculator</span> is a PyPi python package for calculating the
                            inbreeding coefficient of a pedigrees in Python.
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/farmle" target="_blank">
                    <img src="{% static "base/farmle.png" %}" alt="Profile Image">
                    <div>
                        <span>Farmle</span>
                        <p>
                            Do you think you need Wordle for the farm? Yes, you do! Here it is: <span class="color">Farmle</span>.
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://github.com/Owen-Dechow/TermsLang" target="_blank">
                    <img src="{% static "base/termslang.webp" %}" alt="Profile Image">
                    <div>
                        <span>TermsLang</span>
                        <p>
                            <span class="color">TermsLang</span> is a custom programming language built using Rust. Perhaps one of the
                            least practical of these projects, its sole purpose is to be an advanced learning experience and an example
                            to others of what is possible using Rust.
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </section>
{% endblock content %}
